apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-go
spec:
  selector:
    matchLabels:
      app: grpc-go
  replicas: 5
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: grpc-go
    spec:
      containers:
        - name: grpc-go
          image: gcr.io/locust-rest-grpc/grpc-go
#          imagePullPolicy: Never
          resources:
            requests:
              memory: 0.2G
              cpu: 1
            limits:
              memory: 2G
              cpu: 2
          ports:
            - name: grpc-api
              containerPort: 50051
      # nodeSelector:
      #   workload: api
---
apiVersion: v1
kind: Service
metadata:
  name: grpc-go
spec:
  selector:
    app: grpc-go
  type: LoadBalancer
  ports:
    - port: 50051
      targetPort: grpc-api
