apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-worker-rest
spec:
  selector:
    matchLabels:
      app: locust-worker-rest
  replicas: 10
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: locust-worker-rest
    spec:
      containers:
        - name: locust-worker-rest
          image: gcr.io/locust-rest-grpc/locust-rest-grpc
          command: ["locust", "-f", "locust_rest.py"]
#          imagePullPolicy: Never
          resources:
            requests:
              memory: 0.2G
              cpu: 1
            limits:
              memory: 1G
              cpu: 2
          env:
            - name: LOCUST_MODE_WORKER
              value: "true"
            - name: LOCUST_MASTER_NODE_HOST
              value: locust-master
