apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest-py
spec:
  selector:
    matchLabels:
      app: rest-py
  replicas: 12
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: rest-py
    spec:
      containers:
        - name: rest-py
          image: gcr.io/locust-rest-grpc/rest-py
#          imagePullPolicy: Never
          resources:
            requests:
              memory: 0.2G
              cpu: 1
            limits:
              memory: 1G
              cpu: 2
          ports:
            - name: http-api
              containerPort: 80
          env:
            - name: MAX_WORKERS
              value: "1"
            - name: LOG_LEVEL
              value: "INFO"
#      nodeSelector:
#        workload: api
---
apiVersion: v1
kind: Service
metadata:
  name: rest-py
spec:
  selector:
    app: rest-py
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http-api
